In [4]:
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from datetime import datetime as dt
import json
from pathlib import Path

In [5]:
moon_air_quality_df = pd.read_csv('CSVs/Cloud_Cover.csv')
moon_air_quality_df.head()

   cloud  visibility_km  visibility_miles  air_quality
0      0           10.0                 6          7.9
1     75           10.0                 6         28.2
2     25           10.0                 6          6.4
3      6           10.0                 6          0.5
4     75           10.0                 6        139.6

In [6]:
moon_air_quality_df.dtypes

cloud                 int64
visibility_km       float64
visibility_miles      int64
air_quality         float64
dtype: object

In [7]:
moon_air_quality_df=moon_air_quality_df.rename(columns={"air_quality_PM2": "air_quality"})

moon_air_quality_df.head()

   cloud  visibility_km  visibility_miles  air_quality
0      0           10.0                 6          7.9
1     75           10.0                 6         28.2
2     25           10.0                 6          6.4
3      6           10.0                 6          0.5
4     75           10.0                 6        139.6

In [8]:
moon_air_cleaned=moon_air_quality_df[["air_quality","moon_illumination"]]
moon_air_cleaned.head()

KeyError: "['moon_illumination'] not in index"

In [27]:
moon_air_cleaned.to_csv("CSVs/moon_vs_air_quality.csv", index=False)

In [12]:
weather_repository_df = pd.read_csv('CSVs/GlobalWeatherRepository_full_data.csv')

In [11]:
weather_repository_cleaned=weather_repository_df[["latitude", "longitude", "temperature_fahrenheit", "cloud","precip_mm","air_quality", "moon_illumination", "visibility_km", "visibility_miles"]]
weather_repository_cleaned.head()

KeyError: "['air_quality'] not in index"

In [25]:
weather_repository_cleaned.to_csv("CSVs/long_lat_temp_wind.csv", index=False)

In [14]:
weather_repository_cleanclean=weather_repository_df[["country", "location_name", "latitude", "longitude", "temperature_fahrenheit", "cloud","precip_mm","air_quality_PM2.5", "moon_illumination", "visibility_km", "visibility_miles"]]
weather_repository_cleanclean.head()

,country,location_name,latitude,longitude,temperature_fahrenheit,cloud,precip_mm,air_quality_PM2.5,moon_illumination,visibility_km,visibility_miles
0,Afghanistan,Kabul,34.52,69.18,83.8,0,0.0,7.9,93,10.0,6.0
1,Albania,Tirana,41.33,19.82,80.6,75,0.0,28.2,93,10.0,6.0
2,Algeria,Algiers,36.76,3.05,82.4,25,0.0,6.4,93,10.0,6.0
3,Andorra,Andorra La Vella,42.50,1.52,50.4,6,0.0,0.5,93,10.0,6.0
4,Angola,Luanda,-8.84,13.23,77.0,75,0.0,139.6,93,10.0,6.0

In [16]:
weather_repository=weather_repository_cleanclean.rename(columns={"air_quality_PM2.5": "air_quality"})
weather_repository.head()

,country,location_name,latitude,longitude,temperature_fahrenheit,cloud,precip_mm,air_quality,moon_illumination,visibility_km,visibility_miles
0,Afghanistan,Kabul,34.52,69.18,83.8,0,0.0,7.9,93,10.0,6.0
1,Albania,Tirana,41.33,19.82,80.6,75,0.0,28.2,93,10.0,6.0
2,Algeria,Algiers,36.76,3.05,82.4,25,0.0,6.4,93,10.0,6.0
3,Andorra,Andorra La Vella,42.50,1.52,50.4,6,0.0,0.5,93,10.0,6.0
4,Angola,Luanda,-8.84,13.23,77.0,75,0.0,139.6,93,10.0,6.0

In [17]:
weather_repository.to_csv("CSVs/Weather_Repository.csv", index=False)

In [23]:
weather = pd.read_csv ("CSVs/Weather_Repository.csv")
weather.to_json ("CSVs/Weather_Repository.json")