In [2]:
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from datetime import datetime as dt
import json

In [3]:
wind_air_quality_df = pd.read_csv('CSVs/Cloud_Cover.csv')
wind_air_quality_df.head()

,country,location_name,cloud,visibility_km,visibility_miles,air_quality_PM2,air_quality_PM10,moon_phase,moon_illumination
0,Afghanistan,Kabul,0,10.0,6,7.9,11.1,Waxing Gibbous,93
1,Albania,Tirana,75,10.0,6,28.2,29.6,Waxing Gibbous,93
2,Algeria,Algiers,25,10.0,6,6.4,7.9,Waxing Gibbous,93
3,Andorra,Andorra La Vella,6,10.0,6,0.5,0.8,Waxing Gibbous,93
4,Angola,Luanda,75,10.0,6,139.6,203.3,Waxing Gibbous,93